@import url('https://fonts.googleapis.com/css2? family= Lato:wght@300 & family= Montserrat:ital@1 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #090a16;
    font-size: 1rem;
}

header a:hover {
    font-size: 1rem;
    background-image: linear-gradient(89.33791446594694deg, #0000ff 0%, #cd0093 100%);
    text-align: center;
    scale: 1.0;
    transition: scale 0.2 ease;
    padding: 0.5rem 1.4rem;
    border-radius: 20px;
    scale: 1.0;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.pesq {
    color: #ccc;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    width: 220px;
    height: 25px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    border: 1px solid #ccc;
}

/* header */

header {
    position: relative;
    padding: 0 2rem;
    background-color: white;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    cursor: pointer;
}

.navbar .links {
    display: flex;
    gap: 2.2rem;
}

.navbar .toggle_btn {
    color: #7f37c9;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    font-family: 'Lato', sans-serif;
}

.action_btn {
    background-image: linear-gradient(89.33791446594694deg, #0000ff 0%, #cd0093 100%);
    color: #fff;
    padding: 0.7rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.93rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    font-family: 'Lato', sans-serif;
}

.action_btn:hover {
    padding: 0.7rem 2.5rem;
    border-radius: 20px;
    scale: 1.0;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.action_btn:active {
    scale: 0.95;
}

/* dropdown */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 270px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* main */

main div img{
    height: 100%;
    width: 100%;
    
}

/* footer */

footer {
    width: 100%;
    color: white;
}

.footer_link {
    text-decoration: none;
}

.footer_content {
    background-color: #090a16;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

.footer_contatos {
    margin-bottom: 0.75rem;
}

.footer_midias {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer_midias .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: #fff;
    transition: all 0.4s;
}

.footer_midias .footer_link i {
    font-size: 1.25rem;
}

.footer_midias .footer_link:hover {
    opacity: 0.8;
}

#insta {
    /*background: linear-gradient(89.33791446594694deg, #e5ff00 0%, #cd7b00 100%);*/
    border: 2px solid white;
}

#face {
    border: 2px solid white;
}

#twitter {
    border: 2px solid white;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer_list .footer_link {
    color: #ccc;
    transition: all 0.4s;
}

.footer_list .footer_link:hover {
    color: #7f37c9
}

.footer_faleconosco {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.footer_faleconosco p {
    color: #ccc;
}

.footer_input {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color:  #ccc;
}

.footer_input input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.footer_input button {
    background-color: #7f37c9;
    border: none;
    color: #ccc;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

.footer_input button:hover {
    opacity: 0.8s;
}

.footer_copy {
    display: flex;
    justify-content: center;
    background-color: #090a16;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}